{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <table><caption>You Watched:</caption></table>
    <thead>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
            {{ form.year.label }}<br>
            {{ form.year }}<br>
            {{ form.genre.label }}<br>
            {{ form.genre }}<br>
            {{ form.director.label }}<br>
            {{ form.director }}<br>
            {{ form.watched.label }}<br>
            {{ form.watched }}<br>
            {{ form.my_rating.label }}<br>
            {{ form.my_rating }}<br>
            {{ form.rt_rating.label }}<br>
            {{ form.rt_rating }}<br>
            {{ form.watched_date.label }}<br>
            {{ form.watched_date }}<br>
            {{ form.tags.label }}<br>
            {{ form.tags }}<br>
            {% for error in form.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
