{% extends "base.html" %}

{% block app_content %}
{% include "_user_mini_profile.html" %}
    {% include "_you_watched.html" %}
{% if user == current_user %}
<p><a href="{{ url_for('main.edit_profile') }}">Edit your profile.</a></p>
{% elif not current_user.is_following(user) %}
<p>
    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.submit(value='Follow') }}
    </form>
</p>
{% else %}
<p>
    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.submit(value='Unfollow') }}
    </form>
</p>
{% endif %}
{% endblock %}
